<%= form_for :lower_thirds , url: lower_thirds_path do |f| %>
  <p>
    <%= f.label :nome_completo %><br>
    <%= f.text_field :nome_completo %>
  </p>
 
  <p>
    <%= f.label :profissão %><br>
    <%= f.text_field :profissao %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>
  

 
  <p>
    <%= f.submit "Enviar"%>
  </p>
<% end %>